{% extends "base_logged_in.html" %}



{% block title %}Create Patient{% endblock title %}

{% block content %}
    <script>
        $(document).ready(function () {
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 180, // Creates a dropdown of 15 years to control year
                format: 'dd/mm/yyyy'
            });
        });
    </script>
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if patient %}
            <input type=hidden name='update' value={{ patient.id }}>
        {% endif %}
        {{ form }}
        <br>
        <label>Sex:</label>
        {% if patient.sex != False %}
            <p>
                <input name="sex" type="radio" id="male" value="M" required checked>
                <label for="male">Male</label>
            </p>
            <p>
                <input name="sex" type="radio" id="female" value="F" required>
                <label for="female">Female</label>
            </p>
        {% else %}
            <p>
                <input name="sex" type="radio" id="male" value="M" required>
                <label for="male">Male</label>
            </p>
            <p>
                <input name="sex" type="radio" id="female" value="F" required checked>
                <label for="female">Female</label>
            </p>
        {% endif %}

        <label>Birth date:</label>
        <input type="date" class="datepicker" name="birth_date" id="date" required placeholder="Click to select date" value="{{ patient.birth_date }}">
        <button type="button" class="btn waves-effect waves-light" onclick="submitform()">
            {% if patient %}
                Save
            {% else %}
                Create
            {% endif %}
        </button>
        <input id="submit_handle" type="submit" style="display: none">
        <script>
            function submitform() {
                if ($('#date').val() == ""){
                    alert("Please enter a date");
                }
                else
                    $('#submit_handle').click();
            }
        </script>
    </form>
{% endblock content %}